<div class="location">
  <ul>
    <a [routerLink]="['/Home']">Acasa<strong> > </strong></a>
    <p> Despre</p></ul>
</div>
<div class="files">
  <ul>
    <a href="">Mesajul Directorului</a>
    <a href="">Patrimoniul liceal</a>
    <a href="">Scurt istoric</a>
    <a href="">Organigrama liceului</a>
  </ul>
</div>

<div class="search">

  <input type="text" id="search" placeholder=" Cautare...">
  <div class="icon">
    <svg id="background-search" width="49" height="37" viewBox="0 0 49 37" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.99967 0H48.9997V37H4.99967C4.99967 37 15.4997 17 4.99967 18.5C-5.50033 20 4.99967 0 4.99967 0Z" fill="red"/>
    </svg>
    <img id="search-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/VisualEditor_-_Icon_-_Search-big_-_white.svg/1200px-VisualEditor_-_Icon_-_Search-big_-_white.svg.png">
  </div>
</div>

<div class="top-5">
  <div id="title-news">
    <p>Top 5 Noutati</p>
  </div>
</div>


<div class="about-high-school">
  <p id="about-hign-school">Despre Liceu</p>
  <p id="mission"><span>Misiunea de bază a liceului</span> este de a oferi servicii educaţionale de calitate pentru dezvoltarea competenţelor intelectuale la elevi în vederea stabilirii priorităţilor pentru integrarea lor în viaţa socială.</p>
  <div class="who-we-are">
    <p id="who-we-are">Cine suntem noi</p>
    <div style="margin-top: 30px" class="arrangement" *ngFor="let item of items">
      <svg id="item-about" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M80 39.9999C80 51.2707 67.5002 52.7298 60 60.0003C52.7994 66.9804 50.8206 80 40 80C28.6753 80 27.2773 62.5637 20 55.0003C13.0813 47.8097 0 50.7666 0 39.9999C0 28.9455 17.7514 27.2402 25 20.0002C32.2372 12.7716 43.9629 0 55 0C65.1445 0 62.9487 3.77638 70 10C78.3042 17.3295 80 28.0529 80 39.9999Z" fill="#4190E0"/>
      </svg>
      <span style="color: white; margin-left: -46px; font-size: 24px">{{item.id}}</span>
      <p id="arrangement">{{item.text}}</p>
    </div>
  </div>
</div>
