

.bubbles{
  position: absolute;
  margin-top: 200px;
}
#bubble{
  border-radius: 50%;
  opacity: 0.4;
  line-height: 30px;
}
.project-base{
  width: 100%;
  height: 500vh;
}
.background-image2{
  position: absolute;
  right: 0;
  top: 0px;

}

.background-image3{
  position: absolute;
  right: 0;
  top: 0px;
}

.logo{

  position: absolute;
  width: 56.42px;
  height: 63px;
  left: 16px;
  top: 16px;
  border-radius: 28.209px;

}

#message{
  position: absolute;
  width: 434px;
  height: 196px;
  left: 129px;
  top: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.nav-link{

  position: absolute;
  height: 56px;
  top: 16px;
  display: flex;
  align-items: center;
  text-align: center;
right: 61px;
}

.nav-link a{
  color: white;
  padding-right: 30px;
}

a:hover{
  text-decoration: underline;
}
a:active{
  text-decoration: none;
  color: #D10A0A !important;
}

#search{
  margin-top: -13px;
margin-right: -43px;
}

#likebox-wrapper * {
  width: 100% !important;
}



footer{
  height: 388px;
  width: 100%;
  display: flex;
  background: black;
  position: absolute;
  z-index: 100;
}
footer p{
  color: white;
  font-size: 24px;
}
.facebook-page{
  padding-left: 260px;
  padding-top: 31px;
}

#map{
  width: 540px;
  height: 250px;
}

.footer-map{
  padding-left: 184px;
  padding-top: 31px;
}
