/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
ul,li,p,a,h1,h2,h3,h4,h5,h6{
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
}


.location ul{
  display: flex;
  position: absolute;
  padding-top: 34px;
  left: 91px;
  align-items: center;
  color: #0C378A;
}
.location ul a, p{
  font-size: 41px;
}
.location p{
  padding-top: 14px;
  padding-left: 15px;
  color: black;
}
.location strong{
  padding-left: 8px;
}

.files{
  position: absolute;
  width: 343px;
  height: 69px;
  right: 34px;
  top: 403px;
  opacity: 0.57;
}
.files ul{
  display: grid;
  line-height: 56px;
}
.files a{
  color: black;
  padding-top: 20px;
}

.search{
  right: 42px;
  top: 627px;
  z-index: 100;
  position: absolute;
  width: 296px;
  height: 57px;
  background: linear-gradient(105.35deg, rgba(0, 0, 0, 0.63) 71.27%, rgba(0, 0, 0, 0.1638) 107.3%);
  border-radius: 8px;
}
.search input{
  border: none;
  position: absolute;
}
#search{
  position: absolute;
  width: 236px;
  height: 37px;
  left: 13px;
  top: 10px;
}
#background-search{
  position: absolute;
  left: 236px;
  top: 10px;
}

#search-icon{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 252px;
  top: 17px;
  cursor: pointer;
}

#title-news{
  position: absolute;
  width: 298px;
  height: 50px;
  color: white;
  right: 36px;
  z-index: 100;
  top: 715px;
  background: #D10A0A;
}

#title-news p{
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
